$text-color-dark: #111111;

.video-info {
    color: $text-color-dark;
    color: #fff !important; 
    float: left !important;
    padding-bottom: 30px;
    padding-left: 5px;
  
    .video-tile-metadata-container {
      padding-top: 5px;
      font-size: 13px;
      color: #6E6E6E;
    }
   
    .show-max-two-lines {
      overflow: hidden;
      line-height: 1.4em;
      max-height: 2.8em;
      text-align: left;
      margin: 3px;
    }
  
    .semi-bold {
      font-weight: 600;
    }
  }

.video-tile{
  display: grid;
  /*grid: 180px auto / 210px; */
  overflow: hidden;
  justify-content: center;
  }

  .image-container {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }